@import '../app';

.export-machines-button {
  margin: 16px;
}

.machine-detail-charts {
  display: flex;

  height: 450px;
  padding: 16px;
  font-size: 14px;

  .stock-info-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.machine-data-table {
  .rdt_TableRow:nth-child(2n) {
    background-color: rgba($cyan-7, 0.3);
  }
}


.machines-view-switch {
  display: flex;
  justify-content: end;
  margin-bottom: 16px;
}